<html>

    <style>
        .center {
            display: flex;
            justify-content: center;
           align-items: center;
        }

        .mt-10 {
            margin-top: 30vh;
        } 
    </style>
    
    <body>
        <div class="center mt-10">
            <h1 class="text-primary">Nome:  <%=name%></h1>
        </div>
        <div class="center">
            <h1 class="text-primary">Cpf: <%=cpf%></h1>
        </div>
        <div class="center">
            <img src="/qrcode?url=<%=name%>" width="200" height="200">
        </div>
    </body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</html>